@use "../theme" as theme;

.header {
	padding: theme.$space-xlarge theme.$space-large;

	display: flex;
	justify-content: space-between;
	align-items: center;

	&__nav {
		display: flex;
		gap: theme.$space-xlarge;
	}

	&__cart {
		position: relative;
		cursor: pointer;

		&-icon {
			&-img {
				width: 40px;
				height: 40px;
				stroke: #fff;
			}
		}

		&-counter {
			background-color: theme.$color-white;
			color: theme.$color-black;
			padding: theme.$space-xsmall theme.$space-small;
			border-radius: 50%;

			font-size: theme.$font-size-xsmall;
			font-weight: theme.$font-weight-bold;
			position: absolute;
			bottom: -2px;
			right: -2px;
		}

		&-dropdown {
			display: none;
		}
	}
}
