@use "../theme" as theme;

body {
	background-color: theme.$color-black;
	font-family: theme.$font-family;
	font-size: theme.$font-size-medium;
	font-weight: theme.$font-weight-regular;
	color: theme.$color-white;
}

img {
	display: block;
	width: 100%;
	height: auto;
	object-fit: cover;
}

.map {
	filter: grayscale(100%) invert(92%) contrast(93%);
}
