$space-xxxsmall: 2px;
$space-xxsmall: 4px;
$space-xsmall: 8px;
$space-small: 12px;
$space-medium: 16px;
$space-large: 24px;
$space-large: 32px;
$space-xlarge: 48px;
$space-xxlarge: 64px;
$space-enormous: 128px;
