@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

$font-family: "Poppins", sans-serif;

$font-size-xsmall: 12px; // Counter
$font-size-small: 14px; // Contacto
$font-size-medium: 18px; // General
$font-size-large: 20px; // Carrito de Compras
$font-size-xlarge: 24px; // Sección Hamburguesa
$fotn-size-huge: 70px; // Título de Sección Hero y Horario

$font-weight-regular: 400;
$font-weight-bold: 700;
